<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>709386959794-sa4l5sh3g21o0mq9rs3qat6rg0s90gh4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.709386959794-sa4l5sh3g21o0mq9rs3qat6rg0s90gh4</string>
	<key>API_KEY</key>
	<string>AIzaSyCKffQnVuP_l_A0Sa9NiLSQttbGw2xVnB0</string>
	<key>GCM_SENDER_ID</key>
	<string>709386959794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.makenotesNew</string>
	<key>PROJECT_ID</key>
	<string>mynotes-43b4f</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-43b4f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:709386959794:ios:7dfb86bab2cb332bc202ab</string>
</dict>
</plist>